.titre1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
   background-color: #f0f0f0;
}
h2 {
    font-size: 20px;
    color: #555;
    margin-bottom: 10px;
}
table {
    width: 50%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
th, td {
    border: 5px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: pink;
}
.sous_titre {
    font-size: 18px;
    color: black;
    margin-bottom: 10px;
}
